
PORT=port-number(e.g., 5000 )
NODE_ENV=development or production

# Database
MONGO_URI=mongouri-here

# JWT Secret (Change this in production!)
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production-min-32-chars

# Admin Credentials (Change these!)
ADMIN_USERNAME=adminUsername
ADMIN_PASSWORD=adminPassword

# CORS
CORS_ORIGIN(* or your-frontend-domain.com)
